// Primary colors
$pri-light-red: hsl(356, 100%, 66%);
$pri-very-light-red: hsl(355, 100%, 74%);
$pri-dark-blue: hsl(208, 49%, 24%);

//Neutral colors
$light-gray: #efeff1;
$neu-grayish-blue: hsl(240, 2%, 79%);
$neu-dark-grayish-blue: hsl(207, 13%, 34%);
$neu-dark-black-blue: hsl(240, 10%, 16%);

//Gradient colors
$bg-very-light-red: hsl(13, 100%, 72%);
$bg-light-red: hsl(353, 100%, 62%);
$bg-dark-gray-blue: hsl(237, 17%, 21%);
$bg-dark-gry-blue: hsl(237, 23%, 32%);
